SECRET_KEY=django-insecure-change-this
DEBUG=False
DATABASE_URL=postgres://user:pass@host/dbname
REDIS_URL=redis://red-xxx:6379
TWILIO_ACCOUNT_SID=ACxxxxxxxx
TWILIO_AUTH_TOKEN=your_token
TWILIO_PHONE_NUMBER=+1xxxxxxxxxx
